<!-- begin post -->
<div class="mb-30px card-group d-none d-md-block">
    <div class="card side">
        <div class="row">
            <div class="col-lg-8">
                <a href="{{ .Permalink }}">
                    {{$images := .Resources.ByType "image"}}
                    {{with $images.GetMatch "*cover*" }}
                        {{$coverThumb := .Resize "x290" }}
                        <img class="img-fluid" src="{{ $coverThumb.Permalink }}" alt="A thumbnail image" loading="lazy">
                    {{end}}
                </a>
            </div>
            <div class="col-lg-4">
                {{- partial "list-partials/_card_body.html" . -}}
                {{- partial "list-partials/_card_footer.html" . -}}
            </div>
        </div>
    </div>
</div>
<div class="d-block d-md-none">
{{ partial "list-partials/postbox.html" . }}
</div>
<!-- end post -->
