<!-- begin post -->
<div class="col-lg-4 col-md-4 mb-30px card-group">
    <div class="card h-100">
        <a href="{{ .Permalink }}">
            {{if .Params.image}}
                <img class="img-fluid" src="{{ .Params.image | relURL }}" alt="Thumbnail for {{ .Title }}" loading="lazy" height="190">
            {{else}}
                {{$images := .Resources.ByType "image"}}
                {{with $images.GetMatch "*cover*" }}
                    {{$coverThumb := .Resize "x290" }}
                    <img class="img-fluid" src="{{ $coverThumb.Permalink }}" alt="A thumbnail image" loading="lazy" height="190">
                {{end}}
            {{end}}                
        </a>
        {{- partial "list-partials/_card_body.html" . -}}
        {{- partial "list-partials/_card_footer.html" . -}}
    </div>
</div>
<!-- end post -->
